.container-header {
  display: flex;
  font-family: Verdana;
  font-weight: bold;
  font-size: 14px;
  border-bottom: solid black;
  border-width: thin;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.logo {
  width: 300px;
  display: flex;
  align-items: center;
}

.logoimg {
  margin-left: 25px;
}

.myt {
  color: MediumAquamarine;
  padding-left: 10px;
}

.menu {
  color: Black;
  text-decoration: underline blue;
  width: 300px;
  justify-content: space-around;
  display: flex;
}

.main-container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding-top: 30px;
}

.large {
  width: 630px;
  border: 1px solid black;
}

.medium {
  width: 300px;
  border: 1px solid black;
}

.small {
  width: 240px;
  border: 1px solid black;
}

.border {
  border: 1px solid black;
}

.footer-container {
  height: 70px;
  display:block;
  border-top: 1px solid black;
}
