.container-header {
  display: flex;
  font-family: Verdana;
  font-weight: bold;
  font-size: 14px;
  border-bottom: solid black;
  border-width: thin;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.logo {
  width: 300px;
  display: flex;
  align-items: center;
}

.logoimg {
  margin-left: 25px;
}

.myt {
  color: MediumAquamarine;
  padding-left: 10px;
}

.menu {
  color: Black;
  text-decoration: underline blue;
  width: 300px;
  justify-content: space-around;
  display: flex;
}
